@model IEnumerable<Pibotanic.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/btncompra.css">

<h1>Compras</h1>
<p>
    <a asp-action="Create">Agregar venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th></th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CompraID">Detalles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>

    var strValue = "@((string)ViewBag.mssg)";
    if (strValue !== null && strValue !== "") {
        Swal.fire("", strValue, "success");
        };

    </script>
    

}